*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv{
    height: 100vh;
    width: 100vw;
    background-color: rgb(191, 88, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerDiv{
    height: 60%;
    width: 30%;
    background-color: rgb(227, 192, 192);
    border-radius: 10px;
}

@media only screen and (max-width :900px){
    .innerDiv{
        height: 60%;
        width: 90%;
        background-color: rgb(227, 192, 192);
    }
}
.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:5px
}
#handleSubmit{
    margin-top: 10%;
}